.bg-top {
    background-image: url("images/topphoto.jpg");
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    

}
h3 {
    text-align: center;
}
h5 {
    color: white;
    font-family: Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color: white;
    font-size: 70px;
    padding-top: 30px;
   
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    
}
.logo {
    width: 60px
}